body {
  overflow-x: hidden;
}

.social-link {
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
}

.nav-link a {
  text-decoration: none;
  color: rgb(100, 100, 100);
  transition: ease-out 0.1s;
}

.nav-link:hover a {
  font-size: 1.25rem;
  color: rgb(0, 81, 202);
  transition: ease-out 0.1s;
}

.active a {
  font-size: 1.25rem;
  color: rgb(0, 81, 202);
}

.page-heading {
  font-size: 3rem;
}

.project {
  overflow: hidden;
  height: 20rem;
  border-radius: 0.5rem;
  transition: ease-out 0.25s;
}

.project:hover {
  transform: scale(1.02);
  transition: ease-out 0.25s;
  cursor: pointer;
}

.project-description {
  text-align: left;
  -webkit-line-clamp: 8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.project-image {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  .project {
    overflow: hidden;
    height: 30rem;
    border-radius: 0.5rem;
  }

  .project-image {
    height: 15rem;
    width: 100%;
    object-fit: cover;
  }

  .project-description {
    text-align: left;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page-heading {
    font-size: 2.5rem;
  }

  .project-image {
    height: 15rem;
    width: 100%;
    object-fit: cover;
  }

  .project-description {
    text-align: left;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
